@media screen and (min-width: 480px){
    body{
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        background-color: lightblue;
    }

    #titulo{
        border-style:solid;
        border-radius: 15px;
        border-color: black;
        background-color: white;
        margin-left: 750px;
        margin-right: 750px;
        padding: 15px 32px;   
    }

    #divprincipal{
        display: flex;
    }

    #blocoinfo{
        border-style:solid;
        border-radius: 15px;
        border-color: black;
        background-color: white;
        height: 250px;
        width: 400px;
        margin-top: auto;
        margin-left: 20px;
        margin-bottom: 15px;
    }

    #totolotoWeb{
        border-style:solid;
        border-radius: 15px;
        border-color: black;
        background-color: white;
        margin-top: auto;
        margin-left: 20px;
        margin-bottom: 15px;
        height: 620px;
        width: 500px;
    }

    #blocoIMC{
        border-style:solid;
        border-radius: 15px;
        border-color: black;
        background-color: white;
        height: 350px;
        width: 400px;
        margin-left: 20px;
    }

    #botao{
        border-style:solid;
        border-radius: 15px;
        border-color: black;
        background-color: #4e8ea3;
        color: white;
        padding: 15px 32px;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin-left: 20px;
    }

    p{
        margin-left: 20px;
    }

    h2{
        margin-left:20px;
    }

    input{
        margin-left: 20px;
    }

    #botaoIMC{
        border-style:solid;
        border-radius: 15px;
        border-color: black;
        background-color: #4e8ea3;
        color: white;
        padding: 15px 32px;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin-left: 20px;
        margin-top: 20px;
    }

}